@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
*{
    font-size: 1rem;    
    font-family: "Poppins", sans-serif;
    
}
.td{
    border:  1px solid;
    margin: 0px;
    padding: 12px;
    cursor: grab;
    position: relative;
}
.td-selected
{
  background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}
.td-start
{
  background-color: #0672d0 ;
}
.op{
  opacity: 0.6;
}
.td-end
{
  background-color: #FF4136;
}
.td-status-0{
  position: relative;
}
.td-status-0::before{

  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.td-optimal{
  position: relative;
}
.td-optimal::before{
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  
  /* background-color: #89d8d3;
background-color: #faff00;
background-image: linear-gradient(319deg, #faff00 0%, #ff1000 37%, #ff6a00 100%);
 */
/* Created with https://www.css-gradient.com */
background-color: rgba(255, 255, 0, 0.759);
  animation-name: optimalAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.td-weight{
  background-color: blueviolet;
}
/* wall css */
.td-status-1{
  position: relative;
}
.td-status-1::before{
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  animation-name: optimalAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
/* wall without animation */
.td-status-2{
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
/* reverse wall animation */
.td-status-3{
  position: relative;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.td-status-3::before{
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0px;
  left: 0%;
  right: 0%;
  background-color: white;
  animation-name: optimalAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.td-status-4{
  background-color: plum;
}
.td-status-0-no-animation{
  background-color: #40e0d0;
}
.td-optimal-no-animation{
  background-color: #89d8d3;
  /* background-color: #faff00;
background-image: linear-gradient(319deg, #faff00 0%, #ff1000 37%, #ff6a00 100%);
 */
  /* Created with https://www.css-gradient.com */
  background-color: rgba(255, 255, 0, 0.759);
}
.td-weight-status-0{
  position: relative;
}
.td-weight-status-0::before{
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0px;
  left: 0%;
  right: 0%;
  background-color: #a0f597;
  animation-name: optimalAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.td-weight-status-1{
  position: relative;
}
.td-weight-status-1::before{
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0px;
  left: 0%;
  right: 0%;
  background-color: #54c15e;
animation-name: optimalAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.td-weight-status-2{
  position: relative;
  }
.td-weight-status-2::before{
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0px;
  left: 0%;
  right: 0%;
 background-color: #54ba5e;
 animation-name: optimalAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.td-weight-status-3{
  position: relative;
}
.td-weight-status-3::before{
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0px;
  left: 0%;
  right: 0%;
background-color: #227249;
  animation-name: optimalAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.td-weight-status-4{
  position: relative;
}
.td-weight-status-4::before{
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0px;
  left: 0%;
  right: 0%;
  background-color: #a0f597;

}
.td-weight-status-5{
  position: relative;
}
.td-weight-status-5::before{
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0px;
  left: 0%;
  right: 0%;
  background-color: #54c15e;

}
.td-weight-status-6{
  position: relative;
  }
.td-weight-status-6::before{
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0px;
  left: 0%;
  right: 0%;
  background-color: #54ba5e;
}
.td-weight-status-7{
  position: relative;
}
.td-weight-status-7::before{
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0px;
  left: 0%;
  right: 0%;
  background-color: #227249;
}

.td-no-wall{
  position: relative;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #50555C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
  background: #50555C;
}




.box{
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.9;  /* for demo purpose  */
}
.tut{
  position: absolute;
  right: 0;
  padding-right: 20px;
}
.stack-top{
  z-index: 9;
  margin-left: 20px;
  margin-bottom: 10px;
}
.flashit{
  color:white;
	-webkit-animation: flash linear 0.5s ;
	animation: flash linear 0.5s ;
}

:host>>> .p-dialog > .p-dialog-header >.p-dialog-title{
  text-align: center;
  display: block;
  margin: auto;
  font-size: 1.55rem;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
/* animation */
@keyframes visitedAnimation {
    0% {
      transform: scale(.3);
      background-color:#FF2400 ;
      border-radius: 100%;
    }
  
    50% {
      background-color: #F28500;
    }
  
    75% {
      transform: scale(1.1);
      background-color: #2F2ABF
    }
  
    100% {
      transform: scale(1.0);
      background-color: #40e0d0;
    }
  }
  @keyframes optimalAnimation {
    0% {
      transform: scale(.3);
      border-radius: 100%;
    }
    75% {
      transform: scale(1.1);
      }
  
    100% {
      transform: scale(1.0);
   }
  }
