<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" ><b style="font-size: 1.5rem;">Graph Visualizer</b></a>
    <button class="btn btn-outline-primary" class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <select [(ngModel)]="algo" (ngModelChange)="setAlgorithm($event)" class="form-select" aria-placeholder="Select a Algorithm" style="width: 8.5rem;">
            <option disabled [value]="undefined" hidden>Algorithm</option>
            <option *ngFor="let option of options" [value]="option">{{option}}</option>
          </select>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item">
          <button class="btn btn-outline-primary" type="button" (click)="start()">start</button>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item dropdown">
          <select [(ngModel)]="selectedRDOrientation" class="form-select" aria-label="Select a Maze" style="width: 8.5rem;">
            <option disabled [value]="undefined" hidden>Maze</option>
            <option *ngFor="let option of mazeoptions" [value]="option">{{option}}</option>
          </select>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item">
          <button class="btn btn-outline-primary" type="button" (click)="startMaze()">Generate Maze</button>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item">
          <button class="btn btn-outline-primary" type="button" (click)="clear()">clear</button>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item">
          <button class="btn btn-outline-primary" type="button" (click)="clearPaths()">clear Paths</button>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item">
          <button class="btn btn-outline-primary" type="button" (click)="clearWallNWeight()">clear Weight &
            Wall</button>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item dropdown">
          <span>Speed: </span> <select style="display: inline; width: 8.5rem;" [(ngModel)]="animationSpeed" class="form-select">
            <option [value]="15">Fast</option>
            <option [value]="30">Medium</option>
            <option [value]="50">Slow</option>
          </select>
        </li>
        <!-- <li class="nav-item">
          <button class="btn btn-outline-primary" type="button" (click)="video()">video</button>
        </li> -->
        <!-- &nbsp;&nbsp; -->
        <!-- <li class="nav-item">
          <button class="btn btn-outline-primary" type="button" (click)="setWeightField()">weight mode:{{weight}}</button>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item dropdown">
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<div>
  <!-- <div>
    <button class="btn btn-outline-primary" type="button" (click)="clear()">clear</button>
        <button class="btn btn-outline-primary" type="button" (click)="startMaze()">Generate Maze</button>
        <button class="btn btn-outline-primary" type="button" (click)="setWeightField()">weight mode:{{weight}}</button>
        <button class="btn btn-outline-primary" type="button" (click)="start()">start</button>
        <button class="btn btn-outline-primary" type="button" (click)="video()">video</button>
        <select [(ngModel)]="algo">
          <option *ngFor="let option of options" [value]="option">{{option}}</option>
        </select>
        <select [(ngModel)]="selectedRDOrientation">
          <option *ngFor="let option of mazeoptions" [value]="option">{{option}}</option>
        </select>
    <input type='file' accept='image/*' *ngIf="imageFlag" (change)='openFile($event)'><br>
    <input class="slider" *ngIf="cameraFlag" id="myRange" type="range" min="0" max="255" [(ngModel)]="treshold" />
  </div> -->
  <div class="container" style="width: 80%;margin-top: 10px;">
    <div class="row" >
      <div class="col-md-auto">
        <div class="row">
          <div class="col-md-auto" style="padding: 0px;margin: auto;">Start Node:</div>
          <div style="padding-left: 5px;" class="col-md-auto">
            <div
              style="padding: 12px;background-color:#0672d0; height: 15px;width: 15px; border: 2px solid black;border-radius: 3px;">
            </div>
          </div>
        </div>
      </div>
      &nbsp; &nbsp;&nbsp;&nbsp;
      <div class="col-md-auto">
        <div class="row">
          <div class="col-md-auto" style="padding: 0px;margin: auto;">End Node:</div>
          <div style="padding-left: 5px;" class="col-md-auto">
            <div
              style="padding: 12px;background-color:#FF4136; height: 15px;width: 15px; border: 2px solid black;border-radius: 3px;">
            </div>
          </div>
        </div>
      </div>
      &nbsp; &nbsp;&nbsp;&nbsp;
      <div class="col-md-auto">
        <div class="row">
          <div class="col-md-auto" style="padding: 0px;margin: auto;">Shortest Path Node:</div>
          <div style="padding-left: 5px;" class="col-md-auto">
            <div
              style="padding: 12px;background-color:rgba(255, 255, 0, 0.759); height: 15px;width: 15px; border: 2px solid black;border-radius: 3px;">
            </div>
          </div>
        </div>
      </div>
      &nbsp; &nbsp;&nbsp;&nbsp;
      <div class="col-md-auto">
        <div class="row">
          <div class="col-md-auto" style="padding: 0px;margin: auto;">Visited Node:</div>
          <div style="padding-left: 5px;" class="col-md-auto">
            <div
              style="padding: 12px;background-color:#40e0d0; height: 15px;width: 15px; border: 2px solid black;border-radius: 3px;">
            </div>
          </div>
        </div>
      </div>
      &nbsp; &nbsp;&nbsp;&nbsp;
      <div class="col-md-auto">
        <div class="row">
          <div class="col-md-auto" style="padding: 0px;margin: auto;">Wall Node:</div>
          <div style="padding-left: 5px;" class="col-md-auto">
            <div
              style="padding: 12px; background-color: #485461;
                    background-image: linear-gradient(315deg, hsl(211, 15%, 33%) 0%, #28313b 74%); height: 15px;width: 15px; border: 2px solid black;border-radius: 3px;">
            </div>
          </div>
        </div>
      </div>
      &nbsp; &nbsp;&nbsp;&nbsp;
      <div class="col-md-auto">
        <div class="row">
          <div class="col-md-auto" style="padding: 0px;margin: auto;">Weight Nodes: &nbsp;&nbsp;</div>
          <div style="padding-left: 5px;" class="col-md-auto">
            <div class="row">
              <div class="col"
                style="padding: 12px;background-color:#a0f597; height: 15px;width: 15px; border: 2px solid black;border-radius: 3px;">
              </div>
              &nbsp;&nbsp;
              <div class="col"
                style="padding: 12px;background-color:#7cc884; height: 15px;width: 15px; border: 2px solid black;border-radius: 3px;">
              </div>
              &nbsp;&nbsp;
              <div class="col"
                style="padding: 12px;background-color:#54ba5e; height: 15px;width: 15px; border: 2px solid black;border-radius: 3px;">
              </div>
              &nbsp;&nbsp;
              <div class="col"
                style="padding: 12px;background-color:#227249; height: 15px;width: 15px; border: 2px solid black;border-radius: 3px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="text-align: center;margin-top: 15px;margin-bottom: 5px;">
      <div class="col"><b>{{algo}}</b>{{algoDesc}}</div>
    </div>
  </div>
  <table style="margin: auto;">
    <tr *ngFor="let x of [].constructor(rows);let i=index">
      <td *ngFor="let y of [].constructor(cols);let j=index"
        [class]="gridData[i][j].status==1?'td td-status-1':gridData[i][j].status==2?'td td-status-2': gridData[i][j].optimalNode && hasAnimated===false?'td-optimal td': gridData[i][j].optimalNode && hasAnimated===true?'td-optimal-no-animation td':gridData[i][j].wall?'td-wall td':gridData[i][j].startNodeFlag?'td td-start':gridData[i][j].endNodeFlag?'td td-end':gridData[i][j].weightStatus==0?'td td-weight-status-0':gridData[i][j].weightStatus==1?'td td-weight-status-1':gridData[i][j].weightStatus==2?'td td-weight-status-2':gridData[i][j].weightStatus==3?'td td-weight-status-3':gridData[i][j].weightStatus==4?'td td-weight-status-4':gridData[i][j].weightStatus==5?'td td-weight-status-5':gridData[i][j].weightStatus==6?'td td-weight-status-6':gridData[i][j].weightStatus==7?'td td-weight-status-7':gridData[i][j].status==4?'td td-status-4':gridData[i][j].status==0 && hasAnimated===false?'td td-status-0':gridData[i][j].status==0 && hasAnimated===true?'td td-status-0-no-animation':'td'"
        (mousedown)="setClickedTrue(gridData[i][j])" (mouseup)="setClickedFalse(gridData[i][j])"
        (mousemove)="onSelectMoved(gridData[i][j])" (click)="onSelectClicked(gridData[i][j])">

        <!-- <i *ngIf="gridData[i][j].startNodeFlag" style="color: blue" class="pi pi-map-marker"></i>
      <i *ngIf="gridData[i][j].endNodeFlag" class="pi pi-flag-fill" style="font-weight: bold; color: red"></i>
       -->
        <!-- <i  class="fas fa-map-marker-alt"></i> -->
        <!-- <i  class="fa-solid fa-location-dot"></i> -->
        <!-- <img  width="30px" height="30px" src="assets/source.png"> -->
      </td>
    </tr>
  </table>

  <video id="video" width="320" height="240" autoplay hidden></video>
  <canvas id="video-canvas" width="320" height="240" hidden></canvas>

</div>